*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	border: none;
	padding: 0;
	text-decoration: none;
	font: inherit;
	color: inherit;
}

li { list-style: none; }

:focus { outline: none; }

a:not(.button) {
	position: relative;
	border-bottom: 1px solid currentColor;

	&::before {
		transition: opacity 250ms 25ms ease-in-out;
		position: absolute;
		top: 100%;
		right: -1px;
		left: -1px;
		margin-top: -1px;
		height: 3px;
		border-radius: 3px;
		background-color: currentColor;
		content: "";
	}

	&:not(:hover):not(:focus)::before { opacity: 0; }

}

html {
	height: 100%;
	background-color: black;
	line-height: 1.25;
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	font-display: optional;
}

body {
	min-height: 100%;
	background: black linear-gradient(white, white);
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem 5rem 1rem;
	text-align: center;
	line-height: 1.35;

	& > svg {
		transform: translateY(-50%);
		margin-bottom: -1.5rem;
		width: 100%;
		max-width: 20rem;
		height: auto;
	}

	& > h1 {
		margin-bottom: 1rem;
		width: 100%;
		max-width: 20em;
		font-size: calc(1.25rem + 0.5vw);

		& > em { font-weight: 700; }

	}

	& > p {
		margin-top: 1rem;
		max-width: 25rem;
		font-size: 1.125rem;

		& > .button {
			transition: border-color 100ms 25ms, background-color 100ms 25ms;
			display: block;
			margin-top: 1rem;
			border-top: 2px solid transparent;
			border-bottom: 2px solid rgba(0, 0, 0, 0.175);
			border-radius: 0.25rem;
			background-color: #0cbf31;
			padding: 1rem 2.5rem;
			font-size: 1.25rem;
			font-weight: 600;
			color: white;

			&:hover:not(:active),
			&:focus:not(:active) {
				background-color: lighten(#0cbf31, 3.5%);
			}

			&:active { border-bottom-color: transparent; }

		}

	}

}

section > ul {
	display: flex;
	flex-wrap: wrap;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 3.5rem 0;
	padding-top: calc(2.5vw + 2rem);

	& > div {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;

		& > img {
			width: 7.5rem;
			height: auto;
		}

		& > address { margin: 0.5rem 0; }

		& > p {
			margin-top: 0.25rem;
			line-height: 1.5;

			& > span { display: block; }

		}

		& > small {
			display: block;
			margin-top: 0.5rem;
			line-height: 1.5;
			font-size: 0.825rem;
			color: #999;

			& > u + u { padding-left: 0.35em; }

		}

		& + div { margin-top: 2rem; }

	}

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: flex-start;
	}

}

.hero {
	height: 75vh;
	overflow: hidden;
	background-color: #666;

	& > img {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: cover;
	}

}

.event {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 17.5rem;
	padding: 2.5rem 1rem;
	text-align: center;
	color: white;

	& > h3 {
		margin-bottom: 1rem;
		width: 100%;
		max-width: 15rem;

		& > img {
			width: 100%;
			height: auto;
		}

	}

	& > p {
		margin-top: 0.5rem;

		& > em {
			display: block;
			margin-bottom: 0.25rem;
			max-width: 15em;
			font-size: 1.05rem;
			font-weight: 600;
		}

		& > time { font-size: 0.825rem; }

	}

	&--fronteers { background-color: #f2bb00; }
	&--gittogreat { background-color: #0cbf31; }
	&--serverless-amsterdam { background-color: #369; }

}
