*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	border: none;
	padding: 0;
	text-decoration: none;
	font: inherit;
	color: inherit;
}
li {
	list-style: none;
}
a {
	border-bottom: 1px solid currentColor;
}

html {
	height: 100%;
	background-color: black;
	line-height: 1.25;
	font-family: "Nunito", sans-serif;
	font-size: 18px;
}

body {
	min-height: 100%;
	background: black linear-gradient(white, white);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 1rem;
	padding-top: calc(2.5vw + 2rem);
	padding-bottom: calc(2.5vw + 2rem);
	text-align: center;

	& > img {
		margin-bottom: 2rem;
		width: 100%;
		max-width: 25rem;
	}
	& > h1 {
		margin-bottom: 2rem;
		width: 100%;
		max-width: 20rem;
		line-height: 1.5;
		font-size: 1.15rem;

		& > em {
			font-weight: 700;
		}
	}
	& > h2 {
		margin-bottom: 1rem;
	}
	& > p > .button {
		transition: border-color 100ms 25ms, background-color 100ms 25ms;
		display: block;
		border-top: 2px solid transparent;
		border-bottom: 2px solid rgba(0, 0, 0, 0.175);
		border-radius: 0.25rem;
		background-color: #0cbf31;
		padding: 1rem 2.5rem;
		font-size: 1.25rem;
		font-weight: 600;
		color: white;

		&:hover:not(:active),
		&:focus:not(:active) {
			background-color: lighten(#0cbf31, 3.5%);
		}
		&:active {
			border-bottom-color: transparent;
		}
	}
}

section > ul {
	display: flex;
	flex-wrap: wrap;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5rem 1rem 1rem 1rem;
	padding-top: calc(2.5vw + 2rem);
	text-align: center;

	& > img {
		margin-bottom: 1rem;
		width: 7.5rem;
		height: auto;
	}
	& > address {
		margin-bottom: 1rem;
	}
	& > p {
		line-height: 1.5;
	}
	& > small {
		display: block;
		margin-top: 1rem;
		line-height: 1.5;
		font-size: 0.825rem;
		color: #999;

		& > u + u {
			padding-left: 0.35em;
		}
	}
}

.event {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 15rem;
	padding: 2.5rem 1rem;
	text-align: center;
	color: white;

	& > h3 {
		margin-bottom: 1rem;
		width: 100%;
		max-width: 15rem;

		& > img {
			width: 100%;
			height: auto;
		}
	}
	& > p {
		margin-top: 0.5rem;

		& > em {
			display: block;
			margin-bottom: 0.25rem;
			font-size: 1.05rem;
			font-weight: 600;
		}
		& > time {
			font-size: 0.825rem;
		}
	}

	&--fronteers { background-color: #f2bb00; }
	&--gittogreat { background-color: #0cbf31; }
	&--serverless-amsterdam { background-color: #369; }
}
